.commonEvents .card{
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    color: whitesmoke;
    background: linear-gradient(90deg,#343a40,#1d242a);

  }
.card-body{
    
}