@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Roboto&display=swap');

@font-face {
  font-family: myFirstFont;
  src: url('https://sie-doie.github.io/indcon2024-assets/fonts/ComicSansMS3.ttf');
}


* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}